@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Goldman:wght@400;700&family=Handjet:wght@100..900&family=Nova+Square&family=Saira+Stencil+One&family=Smooch+Sans:wght@100..900&display=swap');

.text {
    color: #f9e1a0;
    display: block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-family: "Nova Square";
    font-style: normal;
}

.stars, .flicker{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars{
    background: #000 url(../img/stars.png) repeat top center;
    z-index: 0;
}

.flicker{
    background: transparent url(../img/flicker.png) repeat top center;
    z-index: 1;
    animation: star-flicker 24s linear infinite;
    overflow: auto;
}

@keyframes star-flicker{
    from {background-position: 0 0;};
    to {background-position: -10000px 5000px;};
}

h1 {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav{
    background-color: black;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav > * {
    font-family: "Goldman";
    font-style: normal;
    justify-content: center;
    display: block;
    background-color: #f9e1a0;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1vh 2vw;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: #000;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    overflow: hidden;
}

.grid > *{
    position: relative;
    justify-content: center;
    margin-bottom: 5vh;
    padding-top: 10vh;
}

.grid-item-list{
    list-style: none;
    list-style-position: outside;
    margin-left: 0;
    padding-left: 0;
}

li{
    margin-bottom: 0vh;
    z-index: 2;
}

@media screen and (max-width: 1000px) {
    .grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

a:link, a:visited{
    color: #000;
    text-decoration: none;
}

h2{
    font-family: "Goldman";
    font-style: normal;
}